body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 100px;
}

h1 {
    text-align: center;
}

.container {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.article {
    padding: 10px;
    width: fit-content;
    border: 2px solid black;
    background-color: whitesmoke;
    box-shadow: 0 0 8px -4px gray;
}

.btn {
    background-color: royalblue;
    color: white;
    padding: 0.2rem 0.6rem;
    font-size: 1.1rem;
    text-decoration: none;
}

.form {
    background-color: black;
    padding: 2rem;
    text-align: center;
    width: 100vw;
    color: white;
}

label {
    display: inline-block
}

input {
    padding: .4rem;
}